<header-comp></header-comp>

<div class="row" id="mainDiv">
    <div class="col-md-6 bgnone" id="columnCentre">
        <md-content">
            <md-button class="md-primary md-raised" ng-click="showStudent($event)">
                <h4>Show Students List </h4>
            </md-button>
        </md-content>
    </div>
    <div class="col-md-6 bgnone" id="columnCentre">
        <md-content>
            <md-button class="md-primary md-raised" ng-click="showDeaprtment($event)">
                <h4>Show Departments List </h4>
            </md-button>
        </md-content>
    </div>
</div>
<div class="row" id="mainDiv">
    <md-content id="columnCentre">
        <md-button class="md-secondary md-raised" ng-click="route()">
            <h4 ><a ui-sref="depart">Go To Department Page </a> </h4>
        </md-button>
    </md-content>
</div>