<md-dialog aria-label="department" ng-controller="mainCtrl">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span flex></span>
          <h1>Departments List</h1>
          <span flex></span>
        </div>
      </md-toolbar>
  
      <md-dialog-content >
        <md-list-item class="md-3-line" ng-repeat="deptt in department"  ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ deptt }}</h3>
          </div>
        </md-list-item>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised"  ng-click="hide()">
          Close
        </md-button>
      </md-dialog-actions>
  </md-dialog>